$dark-base-color: #2B3F57;
$light-base-color: #8694A7;
$purple-base-color: #754EFF;

$base-button-color: #ffffff;
$base-button-hover-color: #f8f8f8;
$base-button-active-color: #f4f4f4;
$base-button-transition-color-change-time: .25s;
